.track{
    width: 100%;
    background-color: #20382B;
    position: relative;
}

.track__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.87);
}

.track_block{
    height: 100%;
    background-color: #20382B;
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track_title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.track_position{
    color: #D9D9D9;
}

.track_add{
    color: #325F46;
}

.track_button{
    margin:  0 auto;
    background-color: #325F46;
    color: #D9D9D9;
    border: none;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.25);
}

.track_button:hover{
    scale: 1.1;
    transition: 0.3s ease-in-out;
}

.track_button:not(:hover){
    scale: 1;
    transition: 0.3s ease-in-out;
}

.track_button:active{
    box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.25);
    scale: 1;
    transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1920px) {
    .track{
        height: 540px;
    }

    .track_block{
        margin: 40px;
        padding: 40px 0;
        border-radius: 50px;
    }

    .track_title{
        gap: 50px;
    }

    .track_position{
        font-size: 64px;
    }

    .track_add{
        font-size: 24px;
    }

    .track_button{
        width: 450px;
        height: 100px;
        border-radius: 25px;
        font-size: 36px;
    }
}



@media screen and (max-width: 1919px) {
    .track{
        height: 512px;
    }

    .track_block{
        margin: 30px;
        padding: 37px 0;
        border-radius: 50px;
    }

    .track_title{
        gap: 47px;
    }

    .track_position{
        font-size: 48px;
    }

    .track_add{
        font-size: 18px;
    }

    .track_button{
        width: 337.5px;
        height: 94.81px;
        border-radius: 25px;
        font-size: 26px;
    }
}



@media screen and (max-width: 1439px) {
    .track{
        height: 360px;
    }

    .track_block{
        margin: 26.67px;
        padding: 26.66px 0;
        border-radius: 50px;
    }

    .track_title{
        gap: 33px;
    }

    .track_position{
        font-size: 42px;
    }

    .track_add{
        font-size: 16px;
    }

    .track_button{
        width: 300px;
        height: 66.67px;
        border-radius: 25px;
        font-size: 24px;
    }
}



@media screen and (max-width: 1279px) {
    .track{
        height: 338px;
    }

    .track_block{
        margin: 25px;
        padding: 25px 0;
        border-radius: 50px;
    }

    .track_title{
        gap: 31px;
    }

    .track_position{
        font-size: 40px;
    }

    .track_add{
        font-size: 15px;
    }

    .track_button{
        width: 281.25px;
        height: 62.5px;
        border-radius: 25px;
        font-size: 22px;
    }
}



@media screen and (max-width: 1199px) {
    .track{
        height: 216px;
    }

    .track_block{
        margin: 16px;
        padding: 16px 0;
        border-radius: 50px;
    }

    .track_title{
        gap: 20px;
    }

    .track_position{
        font-size: 25px;
    }

    .track_add{
        font-size: 9px;
    }

    .track_button{
        width: 180px;
        height: 40px;
        border-radius: 25px;
        font-size: 14px;
    }
}



@media screen and (max-width: 767px) {
    .track{
        height: 466px;
    }

    .track_block{
        margin: 40px;
        padding: 20px 0;
        border-radius: 25px;
    }

    .track_title{
        gap: 20px;
    }

    .track_position{
        font-size: 25px;
    }

    .track_add{
        font-size: 9px;
    }

    .track_button{
        width: 180px;
        height: 40px;
        border-radius: 25px;
        font-size: 14px;
    }
}



@media screen and (max-width: 429px) {
    .track{
        height: 347px;
    }

    .track_block{
        margin: 29.77px;
        padding: 14.88px 14.88px;
        border-radius: 25px;
    }

    .track_title{
        gap: 15px;
    }

    .track_position{
        font-size: 20px;
    }

    .track_add{
        font-size: 5px;
    }

    .track_button{
        width: 133.95px;
        height: 29.77px;
        border-radius: 25px;
        font-size: 10px;
    }
}