header{
    width: 100%;
    overflow: hidden;
    position: relative;
}

video{
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.87);
}

nav{
    z-index: 999;
    width: calc(100% - padding);
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(32, 56, 43, 0.7);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #D9D9D9;
}

.logo{
    color: #D9D9D9;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.login > span{
    text-align: right;
}

.nav_btn{
    display: none;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #D9D9D9;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dignities{
    display: flex;
    flex-direction: column;
}

.application{
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 0;
}

.link{
    text-decoration: none;
}

.link:hover{
    scale: 1.05;
    color: #6A9C81;
    transition: 0.2s ease-in-out;
}

.link:not(:hover){
    scale: 1;
    color: #D9D9D9;
    transition: 0.2s ease-in-out;
}

.link:active{
    scale: 0.95;
    transition: 0.2s ease-in-out;
}

.login:hover{
    scale: 1.05;
    color: #6A9C81;
    transition: 0.2s ease-in-out;
}

.login:not(:hover){
    scale: 1;
    color: #D9D9D9;
    transition: 0.2s ease-in-out;
}

.login:active{
    scale: 0.95;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    scale: 1.05;
    transition: 0.2s ease-in-out;
}

.logo:not(:hover){
    scale: 1;
    transition: 0.2s ease-in-out;
}

.logo:active{
    scale: 0.95;
    transition: 0.2s ease-in-out;
}

#phone{
    background-color: #D9D9D9;
    color: rgba(30, 30, 30, 0.5);
    font-family: "Montserrat", sans-serif;
    margin: 0;
    border: none;
    outline: 0;
}

.submit{
    font-family: "Prosto One", sans-serif;
    color: #D9D9D9;
    border: none;
    background-color: #20382B;
}

.menu_modal{
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    right: 0;
    justify-content: right;
    transform: translateX(100%);
}

.hamburger-menu{
    background-color: rgba(30, 30, 30, 1);
    list-style: none;
    text-align: right;
    margin: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-show{
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.btn-show{
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
}

.menu-hide{
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
}

.btn-hide{
    transform: rotate(0);
    transition: 0.5s ease-in-out;
}

@media screen and (min-width: 1920px) {
    header{
        height: 1080px;
    }

    nav{
        padding: 20px 40px;
        --pading_around :80px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 20px;
    }

    .logo-img{
        width: 60px;
        height: 60px;
    }
    
    .logo-name{
        font-size: 30px;
    }
    
    .nav_links{
        gap: 40px;
        font-size: 30px;
    }

    .login > span{
        width: 163px;
        font-size: 30px;
    }
    
    .info{
        margin: 0 40px;
    }
    
    .main_text{
        width: 600px;
        font-size: 60px;
    }
    
    .dignities{
        gap: 10px;
        font-size: 25px;
    }
    
    .iframe{
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 800px;
        height: 450px;
    }
    
    .application{
        gap: 10px;
        margin-bottom: 100px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 216px;
        height: 60px;
        font-size: 18px;
        padding:0 27px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 16px;
        width: 130px;
    }

    .application-text{
        font-size: 14px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 18px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 16px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 14px;
    }

    .menu_modal{
        display: none;
    }
  }


  
@media screen and (max-width: 1919px) {
    header{
        height: 1024px;
    }

    nav{
        padding: 20px 40px;
        --pading_around :80px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 15px;
    }

    .logo-img{
        width: 40px;
        height: 40px;
    }
    
    .logo-name{
        font-size: 25px;
    }
    
    .nav_links{
        gap: 30px;
        font-size: 25px;
    }

    .login > span{
        width: 125px;
        font-size: 25px;
    }
    
    .info{
        margin: 0 40px;
    }
    
    .main_text{
        width: 500px;
        font-size: 50px;
    }
    
    .dignities{
        gap: 10px;
        font-size: 20px;
    }
    
    .iframe{
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 600px;
        height: 337.5px;
    }
    
    .application{
        gap: 10px;
        margin-bottom: 75px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 216px;
        height: 60px;
        font-size: 18px;
        padding:0 27px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 16px;
        width: 130px;
    }

    .application-text{
        font-size: 14px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 18px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 16px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 14px;
    }

    .menu_modal{
        display: none;
    }
}



@media screen and (max-width: 1439px) {
    header{
        height: 720px;
    }

    nav{
        padding: 13.33px 26.67px;
        --pading_around :53.34px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 7px;
    }

    .logo-img{
        width: 40px;
        height: 40px;
    }
    
    .logo-name{
        font-size: 20px;
    }
    
    .nav_links{
        gap: 27px;
        font-size: 20px;
    }

    .login > span{
        width: 108.67px;
        font-size: 20px;
    }
    
    .info{
        margin: 0 26.67px;
    }
    
    .main_text{
        width: 400px;
        font-size: 40px;
    }
    
    .dignities{
        gap: 7px;
        font-size: 15px;
    }
    
    .iframe{
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 533.33px;
        height: 300px;
    }
    
    .application{
        gap: 7px;
        margin-bottom: 66.67px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 144.01px;
        height: 40px;
        font-size: 10px;
        padding:0 18px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 10px;
        width: 86.67px;
    }

    .application-text{
        font-size: 8px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 12px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 10px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 8px;
    }

    .menu_modal{
        display: none;
    }
}



@media screen and (max-width: 1279px) {
    header{
        height: 675px;
    }

    nav{
        padding: 12.5px 25px;
        --pading_around :50px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 6px;
    }

    .logo-img{
        width: 37.5px;
        height: 37.5px;
    }
    
    .logo-name{
        font-size: 20px;
    }
    
    .nav_links{
        gap: 25px;
        font-size: 18px;
    }

    .login > span{
        width: 101.88px;
        font-size: 18px;
    }
    
    .info{
        margin: 0 25px;
    }
    
    .main_text{
        width: 380px;
        font-size: 40px;
    }
    
    .dignities{
        gap: 6px;
        font-size: 15px;
    }
    
    .iframe{
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 500px;
        height: 281.25px;
    }
    
    .application{
        gap: 6px;
        margin-bottom: 62.49px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 135px;
        height: 37.5px;
        font-size: 10px;
        padding:0 16.88px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 10px;
        width: 81.25px;
    }

    .application-text{
        font-size: 8px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 12px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 10px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 8px;
    }

    .menu_modal{
        display: none;
    }
}



@media screen and (max-width: 1199px) {
    header{
        height: 432px;
    }

    nav{
        padding: 8px 16px;
        --pading_around :32px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 4px;
    }

    .logo-img{
        width: 24px;
        height: 24px;
    }
    
    .logo-name{
        font-size: 12px;
    }
    
    .nav_links{
        gap: 16px;
        font-size: 12px;
    }

    .login > span{
        width: 65.2px;
        font-size: 12px;
    }
    
    .info{
        margin: 0 16px;
    }
    
    .main_text{
        width: 240px;
        font-size: 25px;
    }
    
    .dignities{
        gap: 4px;
        font-size: 10px;
    }
    
    .iframe{
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 320px;
        height: 180px;
    }
    
    .application{
        gap: 4px;
        margin-bottom: 40px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 85.62px;
        height: 24px;
        font-size: 6px;
        padding:0 11.2px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 6px;
        width: 52px;
    }

    .application-text{
        font-size: 5px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 7px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 6px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 5px;
    }

    .menu_modal{
        display: none;
    }
}



@media screen and (max-width: 767px) {
    header{
        height: 932px;
    }

    nav{
        padding: 10px 25px;
        --pading_around :50px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 7px;
    }

    .logo-img{
        width: 40px;
        height: 40px;
    }
    
    .logo-name{
        font-size: 20px;
    }
    
    .nav_links{
        display: none;
        gap: 16px;
        font-size: 12px;
    }

    .login > span{
        display: none;
    }

    .nav_btn{
        border: none;
        background: none;
        display: block;
        width: 36px;
        height: 30px;
    }
    
    .info{
        text-align: center;
        margin: 0 25px;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }

    .text{
        gap: 25px;
    }
    
    .main_text{
        margin: 0 auto;
        width: 380px;
        font-size: 30px;
    }
    
    .dignities{
        gap: 4px;
        font-size: 11px;
    }
    
    .iframe{
        margin: 0 auto;
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 320px;
        height: 180px;
    }
    
    .application{
        gap: 9px;
        margin-bottom: 93.35px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 203.32px;
        height: 57px;
        font-size: 15px;
        padding:0 26.6px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 15px;
        width: 123.5px;
    }

    .application-text{
        font-size: 13px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 17px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 15px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 13px;
    }

    .nav_btn:active{
        scale: 1.1;
        transition: 0.2s ease-in-out;
    }

    .nav_btn:not(:active){
        scale: 1;
        transition: 0.2s ease-in-out;
    }

    .menu_modal{
        top: 60px;
        display: flex;
    }

    .hamburger-menu{
        padding: 20px;
        font-size: 40px;
    }
}



@media screen and (max-width: 429px) {
    header{
        height: 694px;
    }

    nav{
        padding: 7px 19px;
        --pading_around :38px;
        width: calc(100% - var(--pading_around));
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
    }
    
    .logo{
        gap: 5px;
    }

    .logo-img{
        width: 29.77px;
        height: 29.77px;
    }
    
    .logo-name{
        font-size: 16px;
    }
    
    .nav_links{
        display: none;
        gap: 16px;
        font-size: 12px;
    }

    .login > span{
        display: none;
    }

    .nav_btn{
        border: none;
        background: none;
        display: block;
        width: 26.79px;
        height: 22.33px;
    }

    .nav-img{
        width: 26.79px;
        height: 22.33px;
    }
    
    .info{
        text-align: center;
        margin: 0 18.6px;
        flex-direction: column;
        justify-content: center;
        gap: 74px;
    }

    .text{
        gap: 19px;
    }
    
    .main_text{
        margin: 0 auto;
        width: 282.79px;
        font-size: 25px;
    }
    
    .dignities{
        gap: 3px;
        font-size: 8px;
    }
    
    .iframe{
        margin: 0 auto;
        box-shadow: 0px 10px 4px rgba(0,0,0,0.25);
        width: 282.79px;
        height: 159.07px;
    }
    
    .application{
        gap: 7px;
        margin-bottom: 69.89px;
    }
    
    #phone{
        border-radius: 25px 0 0 25px;
        width: 151.3px;
        height: 42.42px;
        font-size: 11px;
        padding:0 19.8px;
    }
    
    .submit{
        border-radius: 0 25px 25px 0;
        font-size: 11px;
        width: 91.91px;
    }

    .application-text{
        font-size: 9px;
    }
    
    .submit:hover{
        color: #6A9C81;
        font-size: 12px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:not(:hover){
        color: #D9D9D9;
        font-size: 11px;
        transition: 0.2s ease-in-out;
    }
    
    .submit:active{
        font-size: 10px;
    }

    .nav_btn:active{
        scale: 1.1;
        transition: 0.2s ease-in-out;
    }

    .nav_btn:not(:active){
        scale: 1;
        transition: 0.2s ease-in-out;
    }

    .menu_modal{
        top: 43.77px;
        display: flex;
    }

    .hamburger-menu{
        padding: 14.88px;
        font-size: 29.77px;
    }
}