.anchor_block{
    cursor: pointer;
    scroll-behavior: smooth;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
    background-color: #325F46;
    border-radius: 10px;
    z-index: 1000;
}

.anchor_arrow{
    width: 60px;
    height: 60px;
    background-image: url("../../img/anchor_arrow.svg");
    background-size: 100% 100%;
}

.show_anchor{
    visibility: visible;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.hide_anchor{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.anchor_block:hover{
    opacity: 0.5;
    visibility: visible;
}

@media screen and (max-width: 767px) {
    .anchor_block{
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .anchor_arrow{
        width: 30px;
        height: 30px;
    }
}