.bg{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(30, 30, 30, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.b-show {
    display: flex;
    animation: showBlock 0.3s linear forwards;
  }
  
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.auth{
    width: 500px;
    height: 800px;
    color: #D9D9D9;
    background-color: rgba(30, 30, 30, 0.95);
}

.log_in{
    width: 500px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth_title{
    font-size: 60px;
    text-align: center;
}

.login_main{
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.login_form{
    margin: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.log_form{
    gap: 70px;
    display: flex;
    flex-direction: column;
}

.password_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password_block > div{
    margin-left: -60px;
}

input{
    caret-color: #3b3b3b;
    width: 350px;
    padding: 0 20px;
    font-size: 30px;
    height: 60px;
    border: 5px solid #325F46;
    background-color: #D9D9D9;
    outline: none;
}

.close_btn{
    display: flex;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

.log_in_btn{
    margin-top: 10px;
    font-size: 60px;
    height: 100px;
    cursor: pointer;
    color: #D9D9D9;
    background-color: #325F46;
    border: 5px solid #20382B;
}

.login_additional{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forgott_password{
    font-size: 20px;
    text-decoration: none;
    color: rgba(217, 217, 217, 0.5);;
}

.v_line{
    height: 25px;
    border: 1px solid #D9D9D9;
}

.registration{
    font-size: 20px;
    cursor: pointer;
}

.return_btn:hover,.close_btn:hover{
    scale: 1.05;
    transition: 0.3s ease-in-out
}

.return_btn:not(:hover),.close_btn:not(:hover){
    scale: 1;
    transition: 0.3s ease-in-out
}

.return_btn:active,.close_btn:active{
    scale: 0.95;
    transition: 0.3s ease-in-out
}

.reg_btn:hover,.log_in_btn:hover{
    scale: 1.05;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
}

.reg_btn:not(:hover),.log_in_btn:not(:hover){
    scale: 1;
    transition: 0.3s ease-in-out;
}

.reg_btn:active,.log_in_btn:active{
    scale: 0.95;
    transition: 0.3s ease-in-out;
}

.forgott_password:hover{
    text-decoration: underline;
}

.registration:hover{
    text-decoration: underline;
    scale: 1.05;
    transition: 0.3s ease-in-out;
}

.registration:not(:hover){
    scale: 1;
    transition: 0.3s ease-in-out;
}

.return_btn{
    margin-left: 20px;
    display: flex;
    margin-right: auto;
    cursor: pointer;
}

.registration_account{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.reg_buttons{
    display: flex;
    flex-direction: row;
}

.registration_form{
    margin: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reg_form{
    gap: 70px;
    display: flex;
    flex-direction: column;
}

.reg_bottom{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.user_agreement{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: rgba(217, 217, 217, 0.5);
}

.reg_btn{
    font-size: 30px;
    height: 100px;
    color: #D9D9D9;
    background-color: #325F46;
    border: 5px solid #20382B;
}

.user_agreement:hover{
    text-decoration: underline;
}



.bg {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

  }
  
.auth {
    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;
  
    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;

    transition: 0.5s;
    transform-style: preserve-3d;

    position: relative;
}
  
.log_in, .registration_account {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
}
  
.registration_account {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.auth.flip{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.eye{
    width: 2.5em;
    height:1.5em;
    position: relative;
    display:inline-block;
    --background: #D9D9D9;
    --color: #3b3b3b;
}

.eye div{
    overflow:hidden;
    height:50%;
    position:relative;
    margin-bottom:-1px;
}

.eye div:before{
    content:'';
    background: #3b3b3b;
    position:absolute;
    left:0;
    right:0;
    height:300%;
    border-radius:100%;
}

.eye div:last-child:before{
    bottom:0;
}

.eye:before{
    content:'';
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:0.7em;
    height:0.7em;
    background:var(--color);
    border:0.2em solid var(--background);
    border-radius:100%;
    z-index:1;
}

.eye:after{
    content:'';
    position:absolute;
    top:-0.15em;
    left:calc(33.333% - 0.15em);
    transform:rotate(45deg) scaleX(0);
    transform-origin:left center;
    width:90%;
    height:0.2em;
    background:var(--color);
    border-top:0.2em solid var(--background);
    z-index:2;
    transition:transform 0.25s;
}

.eye.slash:after{
    transform:rotate(45deg) scaleX(1);
}

@media screen and (max-width: 767px) {
    .auth{
        width: 300px;
        height: 480px;
    }

    .log_in{
        width: 300px;
    }

    .auth_title{
        font-size: 35px;
    }

    .login_main{
        gap: 36px;
    }

    .login_form{
        margin: 30px;
    }

    .log_form{
        gap: 42px;
    }

    input{
        width: 206px;
        padding: 0 12px;
        font-size: 18px;
        height: 36px;
    }

    .log_in_btn{
        margin-top: 6px;
        font-size: 36px;
        height: 60px;
    }

    .forgott_password{
        font-size: 12px;
    }
    
    .v_line{
        height: 15px;
    }

    .close_btn{
        width: 50px;
        height: 50px;
    }

    .v_line{
        height: 15px;
    }

    .registration{
        font-size: 12px;
    }

    .return_btn{
        margin-top: 12px;
        margin-left: 12px;
        height: 30px;
        width: 50px;
    }

    .registration_account{
        width: 300px;
    }

    .registration_form{
        margin: 30px;
    }

    .reg_form{
        gap: 42px;
    }

    .reg_bottom{
        gap: 12px;
    }

    .user_agreement{
        font-size: 12px;
    }

    .reg_btn{
        font-size: 18px;
        height: 60px;
    }
}